@charset "UTF-8";

*{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    box-sizing: border-box;
}
body{
    background-image: linear-gradient(180deg, #372991, #15142b);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    background-attachment: fixed;
}
article{
    background-color: white;
    width: 400px;
    padding: 15px;
    margin: auto;
    border-radius: 10px;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.504);
}
header > h1{
    text-align: center;
    color: white;
    text-shadow: 3px 3px 0px  #15142b;
}
form{
    background-color: #DDD3EF;
    padding: 15px;
    border-radius: 10px;
}
label{

    background-color: #B9AADE;
    padding: 5px;
    border-radius: 5px;
    display: block;
    width: min-content;
    margin-bottom: 5px;

}
input{

    width: 100%;
    height: 40px;
    border: none;
}
input#botao{
    background-color: #5BCA62 ;
    color: white;
    border-radius: 5px;
}
input#botao:hover{
    background-color: #372991;
    transition: 0.3s;
}
a#voltar{
    text-decoration: none;
    padding: 6px;
    border-radius: 5px;
    background-color: #5BCA62 ;
    color: white;
}
a#voltar:hover{
    background-color: #372991;
}
