@charset "UTF-8";

body{

    background-color: beige;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;

}
h1{
    color: brown;
    background-color: rgb(241, 219, 219);
}
h2{
    color: chocolate;
}
p{
    text-align: justify;
}
